.adv {
    min-height: 473px;
    padding: 73px 0 0 0;
    background-color: #F6F6F6;
    &__title {
        font-weight: 700;
        font-size: 30px;
        color: #0D0D0D;
        text-transform: uppercase;
        text-align: center;
    }
    &__items {
        margin-top: 60px;

        text-align: center;
    
        &_block {
            margin-right: 68px;
            &__text {
                margin-top: 35px;
                font-weight: 700;
                font-size: 18px;
            }
            &__descr {
                margin-top: 20px;
                font-weight: 300;
                font-size: 14px;
                a {
                    color: $main-color;
                }
            }
        }
    }
    &__icon {
        &_animated {
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
        
    
}